<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>simplelinkedproducts</name>
	<displayName><![CDATA[Simple Linked Products]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Link a physical product to their virtual version and display a front button.]]></description>
	<author><![CDATA[Pierre Viéville]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
